<ng-template #icon>
  <tui-svg src="tuiIconPlusLarge"></tui-svg>
</ng-template>
<form [formGroup]="courseForm" class="col-form">
  <div class="top-header">
    <h5
      class="tui-form__header tui-form__header_margin-top_none"
      id="role-form-title"
      *ngIf="!isEdit; else editTitle"
    >
      Create New Course
    </h5>
    <ng-template #editTitle>
      <h5
        class="tui-form__header tui-form__header_margin-top_none"
        id="role-form-title"
      >
        Edit Course Info
      </h5>
    </ng-template>
    <button
      *ngIf="isEdit"
      tuiButton
      size="m"
      type="button"
      appearance="primary"
      (click)="editLessons()"
    >
      Edit Lesson
    </button>
    <button
      *ngIf="isEdit"
      tuiButton
      size="m"
      type="button"
      appearance="secondary"
      (click)="editQuiz()"
    >
      Edit Quiz
    </button>
  </div>

  <div class="tui-form__row">
    <tui-input tuiTextfieldExampleText="Enter ID" formControlName="_id">
      <span class="tui-required">ID</span>
    </tui-input>
    <tui-error
      formControlName="_id"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-input tuiTextfieldExampleText="Enter Name" formControlName="name">
      <span class="tui-required"> Name</span>
    </tui-input>
    <tui-error
      formControlName="name"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-input tuiTextfieldExampleText="Enter Author" formControlName="author">
      <span class="tui-required">Author</span>
    </tui-input>
    <tui-error
      formControlName="author"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-input
      tuiTextfieldExampleText="Enter Description"
      formControlName="description"
    >
      <span class="tui-required">Description</span>
    </tui-input>
    <tui-error
      formControlName="description"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>

  <div class="tui-form__row">
    <tui-select formControlName="category">
      Category
      <input placeholder="Choose course's category" tuiTextfield />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="categories"
      ></tui-data-list-wrapper>
    </tui-select>
    <tui-error
      formControlName="category"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-select formControlName="language">
      Language
      <input placeholder="Choose course's language" tuiTextfield />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="languages"
      ></tui-data-list-wrapper>
    </tui-select>
    <tui-error
      formControlName="language"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-input-number
      [min]="0"
      tuiTextfieldPostfix="$"
      tuiTextfieldExampleText="Enter Price"
      formControlName="price"
    >
      <span class="tui-required"> Price</span>
    </tui-input-number>
    <tui-error
      formControlName="price"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>
  <div class="tui-form__row multiple-item">
    <div id="input-files-box">
      <tui-input-files
        *ngIf="!control.value"
        accept="image/*"
        [formControl]="control"
        (reject)="onReject($event)"
      ></tui-input-files>
      <tui-files>
        <tui-file
          *ngIf="loadedFiles$ | async as file"
          [file]="file"
          [showDelete]="control.enabled"
          (removed)="removeFile()"
        ></tui-file>

        <tui-file
          *ngIf="rejectedFiles$ | async as file"
          state="error"
          [file]="file"
          [showDelete]="control.enabled"
          (removed)="clearRejected()"
        ></tui-file>

        <tui-file
          *ngIf="loadingFiles$ | async as file"
          state="loading"
          [file]="file"
          [showDelete]="control.enabled"
        ></tui-file>
      </tui-files>
    </div>
    <button
      tuiIconButton
      type="button"
      size="m"
      [icon]="'tuiIconUploadCloudLarge'"
      (click)="uploadImageToCloud()"
      [disabled]="this.control.invalid"
    ></button>
  </div>
  <div class="tui-form__row">
    <tui-input tuiTextfieldExampleText="Enter Image Url" formControlName="img">
      <span class="tui-required">Image Url (from local or url)</span>
    </tui-input>
    <tui-error
      formControlName="img"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>

  <div id="action-buts">
    <button
      tuiButton
      type="button"
      appearance="accent"
      size="m"
      id="cancel-but"
      (click)="toggle(false)"
    >
      Cancel
    </button>
    <button
      tuiButton
      size="m"
      type="button"
      appearance="primary"
      [disabled]="courseForm.invalid"
      *ngIf="!isEdit; else editButton"
      (click)="createNewCourse()"
    >
      Create
    </button>
    <ng-template #editButton>
      <button
        tuiButton
        size="m"
        type="button"
        appearance="primary"
        [disabled]="courseForm.invalid"
      >
        Update
      </button>
    </ng-template>
  </div>
</form>
