@import "@taiga-ui/core/styles/taiga-ui-local.less";

.col-form {
  height: 100%;
  width: 93%;

  #action-buts {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .tui-form__row.multiple-item {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    #input-files-box {
      width: 91%;
    }
  }

  .top-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    #role-form-title {
      margin: auto 0;
    }
  }
}
