
#main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #FDFDF6;
}

#background{
    width: 60%;
    height: 100vh;
    background-image: url("../../../assets/images/1.png");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    .triangle_bottomright{
        position: absolute;
        width: 0;
        height: 100vh;
        border-bottom: 100vh solid #FDFDF6;
        border-left: 10vw solid transparent;
    }
}

#form{
    width: 40%;
    height: 70%;
    margin-right: 6rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   text-align: left;
    margin-bottom: 5rem;
}
.logo{

    img{
        height: 150px;

        width: auto;
        justify-content: center;
        display: flex;
        padding: 20px;

    }
}

         .text-login{ 
            font-size: 50px;
            font-weight: 600;
            color: var(--tui-primary);
             width: auto;
             height: auto;
             display: flex;
             justify-content: center;
             
         }
       


 