@import "@taiga-ui/core/styles/taiga-ui-local.less";

#profile_container{
  width: 100%;
  height: 100%;
  #profile_nav{
    height: 6%;
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    .nav_left{
      display: flex;
      align-items: center;
      p{
        font: var(--tui-font-heading-4);
        margin: 0;
      }
    }
    .nav_right{
      display: flex;
      align-items: center;
      .tui-space_bottom-3{
       margin: 0;
      }
    }
  }

  // .nav_content {
  //   border: 1px solid var(--tui-base-05);
  //   margin: 0 2rem;
  // }

  #profile_main{
    height: 94%;
    //background-color: chartreuse;
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
    .line{
      border: 1px solid #C3C8BB;
      height: 95%;
      margin: 1rem 0;
    }

    .avatar_box{
      width: 20%;
      height: 97%;
      //background-color: red;
      padding: 1rem ;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .avatar_userName{
        font: var(--tui-font-heading-6);
      }
      .avatar_email{
        font: var(--tui-font-text-l);
        font-weight: bold;
        color: var(--tui-text-02);
        margin: 0;
      }
    }
    .profile_box{
      width: 40%;
      height: 97%;
      //background-color: aqua;
      padding: 1rem ;
      .title{
        font: var(--tui-font-heading-6);
        margin: 0;
      }

      .col-form{
        margin-top: 3rem;
        p{
          font: var(--tui-font-text-l);
          font-weight: bold;
          margin: 0 ;
        }
        .tui-form__row{
          margin: 0 0 1.25rem 0;
        }
      }

      .btn_update{
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    .courses_box{
      width: 40%;
      height: 97%;
      padding: 1rem;
      .title{
        font: var(--tui-font-heading-6);
        margin: 0;
      }
      .box {
        //min-width: 54.5rem;
        height: 95%;
        min-height: calc(49.106rem - 3.875rem);
        margin-top: 3rem;
      }

      .list_course {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        ::ng-deep .t-top,
        ::ng-deep .t-actions {
          height: 0;
        }
        ::ng-deep .t-heading {
          margin: 0;
        }
  
        ::ng-deep .t-content {
          margin-top: 5px;
        }
  
        .cart_course {
          margin-bottom: 20px;
        }
  
        .btn_course {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 5px 0;
        }
      }
    }
  }
}