<div id="profile_container">
  <div id="profile_nav">
    <div class="nav_left">
      <p>Profile</p>
    </div>
    <div class="nav_right">
      <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" icon="tuiIconLogOutLarge"
        [size]="'m'" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
  <div class="nav_content">
  </div>

  <div id="profile_main">
    <div class="avatar_box">
      <tui-avatar size="l" text="dmitriy demenskiy" class="tui-space_top-1" [rounded]="true"
        [size]="'xxl'"></tui-avatar>
      <p class="avatar_userName">UserName</p>
      <p class="avatar_email">Email</p>
    </div>
    <div class="line">
    </div>
    <div class="profile_box">
      <p class="title">Edit your Personal Settings</p>

      <form [formGroup]="courseForm" class="col-form">
        <p>User Name</p>
        <div class="tui-form__row">
          <tui-input tuiTextfieldExampleText="Enter Role Name" formControlName="name">
            <span class="tui-required"> Name</span>
          </tui-input>
          <tui-error formControlName="name" [error]="[] | tuiFieldError | async"></tui-error>
        </div>

        <p>Gender</p>
        <div class="tui-form__row">
          <tui-select formControlName="gender">
            Gender
            <tui-data-list-wrapper *tuiDataList [items]="genders"></tui-data-list-wrapper>
          </tui-select>
        </div>

        <p>Country</p>
        <div class="tui-form__row">
          <tui-select formControlName="country">
            Country
            <tui-data-list-wrapper *tuiDataList [items]="countries"></tui-data-list-wrapper>
          </tui-select>
        </div>

        <p>Bio</p>
        <div class="tui-form__row">
          <tui-input tuiTextfieldExampleText="Enter Role Name" formControlName="bio">
            <span class="tui-required"> Bio</span>
          </tui-input>
          <!-- <tui-error formControlName="bio" [error]="[] | tuiFieldError | async"></tui-error> -->
        </div>
      </form>

      <div class="btn_update">
        <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3">
          Update Profile
        </button>
      </div>
    </div>
    <div class="line">
    </div>
    <div class="courses_box">
      <p class="title">Courses</p>
    </div>
  </div>


</div>