<div id="detail-container">
    <div id="detail-box">
        <div id="detail-nav">
            <div class="nav-left">
                <h4 class="nav-home" (click)="backhome()">Home</h4>
                <h4>
                    <tui-svg src="tuiIconChevronsRight"></tui-svg>
                </h4>
                <h4 class="nav-browse" (click)="backcourse()">Browse Course</h4>
                <h4>
                    <tui-svg src="tuiIconChevronsRight"></tui-svg>
                </h4>
                <h4>Detail Course</h4>
            </div>
            <div class="nav-right">
                <tui-input tuiTextfieldIconLeft="tuiIconSearchLarge" [tuiTextfieldSize]="'m'" [(ngModel)]="search">
                    Search
                </tui-input>
            </div>
        </div>
        <div class="nav-content">
        </div>
        <div id="detail-content">
            <div class="content-left">
                <div class="left-top">
                    <div class="top-ima" *ngIf="courseDetail$ | async as courseDetail">

                        <img src={{courseDetail.img}} alt="">
                    </div>
                </div>
                <div class="left-bot">
                    <div class="bot-right">
                        <h2>SKILL</h2>
                        <ul class="tui-list">
                            <li class="tui-list__item">Project Management Skills</li>
                            <li class="tui-list__item">Presentation and Communication Skills</li>
                            <li class="tui-list__item">Creativity and Problem Solving Skills</li>
                            <li class="tui-list__item">Time Management and Prioritization Skills</li>
                        </ul>
                    </div>
                    <div class="bot-left">
                        <h2>CERTIFICATE</h2>
                        <ul class="tui-list">
                            <li class="tui-list__item">Certificate of completion of the course at Gnosis</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-right">
                <div class="right-top" *ngIf="courseDetail$ | async as courseDetail">
                    <div class="sub-content">
                        <h1>{{courseDetail.name}}</h1>
                        <p>{{courseDetail.category}}</p>
                        <div class="ic-star">
                            <tui-rating class="rating" [(ngModel)]="rateValue"></tui-rating>
                        </div>
                        <h2>$ {{courseDetail.price}}</h2>
                    </div>
                    <div class="sub-btn">
                        <button tuiButton type="button" appearance="primary"
                            class="tui-space_right-3 tui-space_bottom-3" size="m"
                            (click)="addCourseToCart(courseDetail)">
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="top-bot">
                </div>
                <div class="right-bot">
                    <div class="des">
                        <!-- <span>Description</span> -->
                        <tui-tabs [tuiTextfieldSize]="'l'">
                            <button tuiTab>
                                Description
                            </button>
                        </tui-tabs>
                    </div>
                    <tui-scrollbar class="box">
                        <div class="txt-bot" *ngIf="courseDetail$ | async as courseDetail">
                            <p>{{courseDetail.description}} </p>
                        </div>
                    </tui-scrollbar>
                </div>
            </div>
        </div>
    </div>