<div id="learning-container">
  <tui-loader
    id="left-loader"
    [inheritColor]="true"
    [overlay]="true"
    [showLoader]="isGettingLessons"
  >
    <div id="left-side">
      <tui-breadcrumbs size="l" class="breadcrumbs">
        <ng-container *ngFor="let item of items">
          <a *tuiItem tuiLink [routerLink]="item.routerLink">
            {{ item.caption }}
          </a>
        </ng-container>
      </tui-breadcrumbs>
      <div class="top">
        <div class="tui-text_h6 title">Lesson List</div>
      </div>
      <div id="lesson-list">
        <tui-scrollbar class="scrollbar">
          <tui-island
            [hoverable]="true"
            [ngClass]="[selectedLesson?._id === lesson?._id ? 'selected' : '']"
            *ngFor="let lesson of lessonList$ | async; let index = index"
          >
            <div class="tui-island__content" (click)="selectLesson(lesson)">
              <figure class="tui-island__figure">
                <div class="some-figure">
                  <tui-svg src="tuiIconDragLarge"></tui-svg>
                </div>
              </figure>
              <div>
                <h3 class="tui-island__title">
                  {{ lesson.title }}
                </h3>
                <p class="tui-island__paragraph">
                  {{ lesson.description }}
                </p>
              </div>
            </div>
          </tui-island>
          <tui-island
            [hoverable]="true"
            [ngClass]="[selectedQuiz != null ? 'selected' : '']"
          >
            <div class="tui-island__content" (click)="selectQuiz()">
              <figure class="tui-island__figure">
                <div class="some-figure">
                  <tui-svg src="tuiIconDragLarge"></tui-svg>
                </div>
              </figure>
              <h3 class="tui-island__title">
                {{ "Quiz Test" }}
              </h3>
            </div>
          </tui-island>
        </tui-scrollbar>
      </div>
    </div>
  </tui-loader>

  <tui-loader
    id="right-loader"
    [inheritColor]="true"
    [overlay]="true"
    [showLoader]="isGettingCourse"
  >
    <div id="right-side">
      <div
        id="course-content"
        *ngIf="
          this.selectedLesson == null && this.selectedQuiz == null;
          else content
        "
      >
        <div class="tui-text_h3 tui-space_top-3 tui-space_bottom-3">
          {{ (course$ | async)?.name }}
        </div>
        <div class="tui-text_body-xl tui-space_top-3 tui-space_bottom-3">
          {{ (course$ | async)?.description }}
        </div>
        <img
          src="{{ (course$ | async)?.img }}"
          class="tui-space_top-3 tui-space_bottom-3"
        />
      </div>
      <ng-template #content>
        <div class="top">
          <div
            class="tui-text_h6 title"
            *ngIf="this.selectLesson != null; else quizTitle"
          >
            Lesson
          </div>
          <ng-template #quizTitle>
            <div class="tui-text_h6 title">Quiz Test</div>
          </ng-template>
        </div>
        <div id="editor" *ngIf="this.selectedLesson != null; else quizContent">
          <app-lesson-content
            [content]="selectedLesson.content"
          ></app-lesson-content>
        </div>
        <ng-template #quizContent>
          <div id="quiz-form">
            <app-quiz-content [quiz]="this.quiz"></app-quiz-content>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </tui-loader>
</div>
