<div id="quiz-container">
    <div id="quiz-box">
        <div id="quiz-nav">
            <div class="nav-left">
                <h4 class="nav-home" (click)="backhome()">Home</h4>
                <h4>
                    <tui-svg src="tuiIconChevronsRight"></tui-svg>
                </h4>
                <h4 class="nav-learn">Learning</h4>
            </div>
            <div class="nav-right">
                <tui-input tuiTextfieldIconLeft="tuiIconSearchLarge" [tuiTextfieldSize]="'m'" [(ngModel)]="search">
                    Search
                </tui-input>
            </div>
        </div>
        <div id="container-main">
            <div id="quiz-left">
                <h2>Title Course of Quiz</h2>
            </div>
            <div id="quiz-right">
                <div id="quiz-top">
                    <div class="top-nav">
                        <h2>Quiz Content</h2>
                    </div>
                    <div class="top-content">
                        <h1>This is a quiz content</h1>
                        <div class="time-score">
                            <div class="time">
                                <span>Time:</span>
                                <span>20 min</span>
                            </div>
                            <div class="score">
                                <span>Total:</span>
                                <span>100</span>
                            </div>
                        </div>
                        <div id="content" class="tui-text_body-xl tui-space_top-3 tui-space_bottom-3">
                            <span>The quiz summarizing knowledge learned in the Web Developer course.</span>
                        </div>
                        <div class="btn-start">
                            <button appearance="primary" tuiButton type="button"
                                class="tui-space_right-3 tui-space_bottom-3">
                                Start Quiz
                            </button>
                        </div>
                    </div>
                </div>
                <div id="quiz-center">
                    <div id="center-right">
                        <div class="title">
                            <h2>Receive Grade</h2>
                        </div>
                        <div id="passed" class="tui-text_body-xl tui-space_top-3 tui-space_bottom-3">
                            <b class="head">To pass:</b>
                            <span class="substance">80% or higher</span>
                        </div>
                    </div>
                    <div id="center-left">
                        <div class="title">
                            <h2>Your Grade</h2>
                            <span class="tui-text_body-xl tui-space_top-3 tui-space_bottom-3">100</span>
                        </div>
                    </div>
                </div>
                <div id="quiz-bot" class="tui-space_top-3 tui-space_bottom-3">
                    <div class="icon-item tui-text_body-xl">
                        <tui-svg src="tuiIconThumbsUpLarge"></tui-svg>
                        Like
                    </div>
                    <div class="icon-item tui-text_body-xl">
                        <tui-svg src="tuiIconThumbsDownLarge"></tui-svg>
                        Dislike
                    </div>
                    <div class="icon-item tui-text_body-xl">
                        <tui-svg src="tuiIconFlagLarge"></tui-svg>
                        Report an issue
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>