<div id="lesson-container">
    <div id="left-side">

        <div class="top">
            <div class="tui-text_h6 title">Phát triển Web</div>

        </div>

        <div id="lesson-list">
            <tui-scrollbar class="scrollbar">
                <tui-tiles class="tiles">
                    <tui-tile>
                        <tui-island [hoverable]="true">
                            <div class="tui-island__content">
                                <div>
                                    <h3 class="tui-island__title">
                                        {{learnForm.value.title}}
                                    </h3>
                                    <p class="tui-island__paragraph">
                                        {{learnForm.value.description}}
                                    </p>
                                </div>
                            </div>

                        </tui-island>

                    </tui-tile>
                </tui-tiles>
            </tui-scrollbar>
        </div>
    </div>

    <div id="right-side" [formGroup]="learnForm">
        <!-- <div
        id="course-content"
        *ngIf="this.selectedLesson == null; else lessonContent"
      >
        <div class="tui-text_h3 tui-space_top-3 tui-space_bottom-3" formControlName="title">

        </div>
        <div class="tui-text_body-xl tui-space_top-3 tui-space_bottom-3" formControlName="description">

        </div>
        <img src="" class="tui-space_top-3 tui-space_bottom-3" />
      </div> -->
        <ng-template #lessonContent>
            <div class="tui-text_h6 title" formControlName="content">
                {{learnForm.value.content}}
            </div>
        </ng-template>
    </div>
</div>
