<div id="lesson-container">
  <div id="left-side">
    <div class="top">
      <div class="tui-text_h6 title">Lesson List</div>
      <button
        size="m"
        tuiIconButton
        type="button"
        icon="tuiIconPlusLarge"
        (click)="addLesson()"
      ></button>
    </div>
    <div id="lesson-list">
      <tui-scrollbar class="scrollbar">
        <tui-island
          *ngFor="let lesson of lessonList; let i = index"
          (click)="selectLesson(lesson)"
        >
          <div class="tui-island__content">
            <figure class="tui-island__figure">
              <div class="some-figure">
                <img [src]="lesson.imageUrl" alt="" />
              </div>
            </figure>
            <div>
              <h3 class="tui-island__title">
                {{ lesson.title }}
              </h3>
              <p class="tui-island__paragraph">
                {{ lesson.description }}
              </p>
            </div>
          </div>
        </tui-island>
      </tui-scrollbar>
    </div>
  </div>
  <div id="right-side">
    <div
      id="course-content"
      *ngIf="this.selectedLesson == null; else lessonContent"
    >
      <div class="tui-text_h3 tui-space_top-3 tui-space_bottom-3">
        This is a course content !!!!
      </div>
      <div class="tui-text_body-xl tui-space_top-3 tui-space_bottom-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
      <img
        src="../../../../../../../assets/images/course.png"
        class="tui-space_top-3 tui-space_bottom-3"
      />
      <a href="https://storyset.com/online">Online illustrations by Storyset</a>
    </div>
    <ng-template #lessonContent>
      <div class="top">
        <div class="tui-text_h6 title">Lesson Content</div>
        <div class="btn-grp">
          <button
            size="m"
            tuiButton
            type="button"
            appearance="primary"
            (click)="openEditSidebar(true)"
            (tuiActiveZoneChange)="openEditSidebar($event)"
          >
            Edit Information
            <tui-scrollbar
              *tuiSidebar="this.openEdit; direction: 'right'; autoWidth: true"
              id="right-sidebar"
            >
              <app-lesson-info-form
                [lesson]="this.selectedLesson"
                (toggle)="openEditSidebar($event)"
                (submit)="updateLessonInfo($event)"
              >
              </app-lesson-info-form>
            </tui-scrollbar>
          </button>
          <button
            size="m"
            tuiButton
            type="button"
            appearance="secondary-destructive"
            (click)="isPreview = !isPreview"
            *ngIf="isPreview; else previewBtn"
          >
            Editor
          </button>
          <ng-template #previewBtn>
            <button
              size="m"
              tuiButton
              type="button"
              (click)="isPreview = !isPreview"
              appearance="secondary"
            >
              Preview
            </button>
          </ng-template>
          <button
            size="m"
            tuiButton
            type="button"
            (click)="saveLessonContent()"
          >
            Save
          </button>
        </div>
      </div>
      <div id="editor">
        <app-editor
          [content]="this.selectedLesson?.content"
          [isPreview]="isPreview"
          [isSave]="isSave"
          (save)="updateLessonContent($event)"
        ></app-editor>
      </div>
    </ng-template>
  </div>
</div>
