<div id="browse-container">
    <div id="browse-box">
        <div class="browse-nav">
            <div class="nav-left">
                <h4 class="nav-home" (click)="backhome()">Home</h4>
                <h4>
                    <tui-svg src="tuiIconChevronsRight"></tui-svg>
                </h4>
                <h4>Browse Course</h4>
            </div>



            <div class="nav-right">
                <tui-input tuiTextfieldIconLeft="tuiIconSearchLarge" [tuiTextfieldSize]="'m'" [(ngModel)]="search">
                    Search
                </tui-input>
            </div>
        </div>
        <div class="browse-slider">
            <div class="slide-track">
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
                <div class="slide">
                    70% off all course today
                    <img src="../../../../../assets/images/hanh.png" height="40" width="40" alt="" />
                </div>
            </div>
        </div>
        <tui-scrollbar class="box">
            <div class="browse-header">
                <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" [size]="'m'">
                    All
                </button>
                <button tuiButton type="button" appearance="outline" class="tui-space_right-3 tui-space_bottom-3"
                    [size]="'m'">
                    Popular
                </button>
                <button tuiButton type="button" appearance="outline" class="tui-space_right-3 tui-space_bottom-3"
                    [size]="'m'">
                    Web Developer
                </button>
                <button tuiButton type="button" appearance="outline" class="tui-space_right-3 tui-space_bottom-3"
                    [size]="'m'">
                    Computer Science
                </button>
                <button tuiButton type="button" appearance="outline" class="tui-space_right-3 tui-space_bottom-3"
                    [size]="'m'">
                    English
                </button>
                <button tuiButton type="button" appearance="outline" class="tui-space_right-3 tui-space_bottom-3"
                    [size]="'m'">
                    Music
                </button>
                <button tuiButton type="button" appearance="outline" class="tui-space_right-3 tui-space_bottom-3"
                    [size]="'m'">
                    Cook
                </button>
            </div>
        </tui-scrollbar>



        <div id="browse-course">
            <tui-scrollbar class="main-rol">
                <div class="main">
                    <!-- <tui-push class="course"  *ngFor="let course of courseList$ | async; let i=index;" heading={{course.name}}> -->
                    <tui-push class="course" *ngFor="let course of courseList ; let i=index;" heading={{course.name}}>
                        <img [src]=course.img alt="" />
                        <!-- <tui-svg src="tuiIconSettingsLarge"></tui-svg> -->
                        <p>
                            {{course.category}}
                        </p>
                        <div class="btn-course">
                            <button tuiButton type="button" appearance="secondary"
                                class="tui-space_right-3 tui-space_bottom-3" (click)="description(course._id)">
                                Detail
                            </button>
                            <button tuiButton type="button" appearance="flat"
                                class="tui-space_right-3 tui-space_bottom-3" icon="tuiIconShoppingCart"
                                (click)="addCourseToCart(course)">
                                ADD TO CART
                            </button>
                        </div>
                    </tui-push>



                </div>
            </tui-scrollbar>
        </div>



    </div>
</div>