<div id="main">
    <div id="background">
        <div class="triangle_bottomright"></div>
    </div>
    <div id="form">
        <div class="logo">
            <img src="../../../assets/images/logo1.png" alt="">
        </div>
        <div class="register">
            <p class="text-register">Create profile</p>
        </div>
        <form class="input" [formGroup]="testForm">

                <tui-input formControlName="name" style="width: 296px;">
                    Name
                    <input tuiTextfield type="name" />
                </tui-input>

                <tui-input formControlName="age" style="width: 296px; margin-top: 1rem;">
                    Age
                    <input tuiTextfield type="age" />
                </tui-input>

                <form tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true" [formGroup]="form" [tuiTextfieldSize]="'l'" >
                    <tui-select formControlName="color" style="margin-top: 1rem;">
                        Sex
                        <tui-data-list-wrapper *tuiDataList [items]="items"></tui-data-list-wrapper>
                    </tui-select>
                </form>

                <tui-input formControlName="avatar" style="width: 296px;margin-top: 1rem;">
                    Avatar
                    <input tuiTextfield type="avatar" />
                </tui-input>

                <tui-input formControlName="email" style="width: 296px;margin-top: 1rem;">
                    Email
                    <input tuiTextfield type="email" />
                </tui-input>

                <tui-input formControlName="cover" style="width: 296px;margin-top: 1rem;">
                    Cover
                    <input tuiTextfield type="cover" />
                </tui-input>


        </form>

        <div class="account">
            <button tuiButton type="button" appearance="primary" class="tui-space_right-3 tui-space_bottom-3"
                style="width: 296px; margin: 0;">
                Sign in
            </button>
        </div>

    </div>