<div id="main">
  <div id="background">
    <div class="triangle_bottomright"></div>
  </div>
  <div id="form">
    <div class="logo">
      <img src="../../../assets/images/logo1.png" alt="" />
    </div>
    <div class="register">
      <p class="text-register">Create profile</p>
    </div>

    <div class="avatar-container">
      <img
        [src]="regisForm.value.avatar"
        class="avatar-image"
        style="height: 80px; width: 80px; border-radius: 50%"
      />
      <p style="font-size: x-large; margin: 0">
        {{ regisForm.value.displayName }}
      </p>
    </div>

    <form class="registForm" [formGroup]="regisForm">
      <div class="tui-form__row">
        <tui-input formControlName="userName">
          Name
          <input tuiTextfield type="name" />
        </tui-input>
        <tui-error
          formControlName="userName"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>
      <div class="tui-form__row">
        <tui-input formControlName="email">
          Email
          <input tuiTextfield type="email" />
        </tui-input>
      </div>
      <div class="tui-form__row">
        <tui-select formControlName="gender">
          Gender
          <tui-data-list-wrapper
            *tuiDataList
            [items]="genders"
          ></tui-data-list-wrapper>
        </tui-select>
      </div>
      <div class="tui-form__row">
        <tui-select formControlName="country">
          Country
          <tui-data-list-wrapper
            *tuiDataList
            [items]="countries"
          ></tui-data-list-wrapper>
        </tui-select>
      </div>
    </form>

    <div class="account">
      <button
        (click)="register()"
        tuiButton
        type="button"
        appearance="primary"
        class="tui-space_right-3 tui-space_bottom-3"
        style="width: 350px; margin: 0; font-size: 23px"
      >
        Sign in
      </button>
    </div>
  </div>
</div>
