<div class="container">
  <div class="container-header">
    <div class="header">
      <div class="course">
        <p class="text-header" (click)="backhome()">Home</p>
        <tui-svg src="tuiIconChevronsRight" style="color: var(--tui-primary);"></tui-svg>


        <p class="text-header">Phát triển Web</p>
      </div>
      <div class="title">
        <p>Phát triển Web</p>
      </div>
    </div>



  </div>
  <div class="main">

    <div class="lesson_list">
      <div class="a_content" style="display: flex; flex-direction: row;">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu_book"
          style="width: 40px;height: 40px ;font-size: 30px;"></mat-icon> -->
        <div style="display: flex; flex-direction: column;margin-left: 5px;">
          <p class="lesson">HTML là gì</p>
          <p class="lesson">10 min</p>
        </div>
      </div>

      <div class="a_content" style="display: flex; flex-direction: row;">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu_book"
          style="width: 40px;height: 40px ;font-size: 30px;"></mat-icon> -->
        <div style="display: flex; flex-direction: column;margin-left: 5px;">
          <p class="lesson">HTML là gì</p>
          <p class="lesson">10 min</p>
        </div>
      </div>

      <div class="a_content" style="display: flex; flex-direction: row;">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu_book"
          style="width: 40px;height: 40px ;font-size: 30px;"></mat-icon> -->
        <div style="display: flex; flex-direction: column;margin-left: 5px;">
          <p class="lesson">Tổng quan về cú pháp của HTML5 </p>
          <p class="lesson">10 min</p>
        </div>
      </div>


    </div>

    <div class="content">
      <p class="lesson-content">HTML là gì</p>
      <div class="btn">
        <button class="continue">Let's continue</button>
      </div>
      <div class="interact">
        <div class="like">
          <tui-svg src="tuiIconThumbsUp"></tui-svg>
          <p class="interact-text">Like</p>
        </div>
        <div class="dislike">

          <tui-svg src="tuiIconThumbsDown"></tui-svg>

          <p class="interact-text">Dislike</p>
        </div>
        <div class="report">
          <tui-svg src="tuiIconAlertTriangle"></tui-svg>

          <p class="interact-text">Report an inssue</p>
        </div>
      </div>
    </div>

  </div>
</div>