<div id="quiz-editor-container">
  <div id="left-side">
    <tui-breadcrumbs size="l" class="breadcrumbs">
      <ng-container *ngFor="let item of items">
        <a *tuiItem tuiLink [routerLink]="item.routerLink">
          {{ item.caption }}
        </a>
      </ng-container>
    </tui-breadcrumbs>
    <div class="top">
      <div class="tui-text_h6 title">Question List</div>
      <button
        size="m"
        tuiIconButton
        type="button"
        icon="tuiIconPlusLarge"
        (click)="addQuestion()"
      ></button>
    </div>
    <div id="lesson-list">
      <tui-scrollbar class="scrollbar">
        <tui-tiles
          class="tiles"
          [(order)]="order"
          (orderChange)="updateOrdinalList()"
        >
          <tui-tile
            *ngFor="let question of questionList; let index = index"
            class="tile"
            [style.order]="order.get(index)"
          >
            <tui-island
              [hoverable]="true"
              [ngClass]="[
                selectedQuestion?._id === question?._id ? 'selected' : ''
              ]"
            >
              <div
                class="tui-island__content"
                (click)="selectQuestion(question)"
              >
                <figure class="tui-island__figure">
                  <div class="some-figure">
                    <tui-svg src="tuiIconDragLarge" tuiTileHandle></tui-svg>
                  </div>
                </figure>
                <h3 class="tui-island__title">
                  {{ "Question No." + (index + 1) }}
                </h3>
              </div>
              <button
                appearance="flat"
                size="m"
                tuiButton
                type="button"
                class="tui-island__footer-button"
                (click)="showWarningDialog(template)"
              >
                Delete
              </button>
            </tui-island>
            <ng-template #template let-observer>
              <p>Are you sure to this delete this question ?</p>

              <button
                size="m"
                tuiButton
                type="button"
                class="tui-space_right-3"
                appearance="secondary-destructive"
                (click)="observer.complete()"
              >
                Cancel
              </button>
              <button
                size="m"
                tuiButton
                type="button"
                appearance="secondary"
                (click)="deleteQuestion(index); observer.complete()"
              >
                Confirm
              </button>
            </ng-template>
          </tui-tile>
        </tui-tiles>
      </tui-scrollbar>
    </div>
  </div>
  <div id="right-side">
    <div
      id="quiz-content"
      *ngIf="this.selectedQuestion == null; else questionContent"
    >
      <div class="tui-text_h3 tui-space_top-3 tui-space_bottom-3">
        This is a quiz content !!!!
      </div>
      <div class="tui-text_body-xl tui-space_top-3 tui-space_bottom-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
      <img
        src="../../../../../../../assets/images/course.png"
        class="tui-space_top-3 tui-space_bottom-3"
      />
      <a href="https://storyset.com/online">Online illustrations by Storyset</a>
    </div>
    <ng-template #questionContent>
      <div class="top">
        <div class="tui-text_h6 title">Question Content</div>
        <div class="btn-grp">
          <button
            size="m"
            tuiButton
            type="button"
            appearance="secondary"
            (click)="isPreview = !isPreview"
            *ngIf="isPreview; else previewBtn"
          >
            Editor
          </button>
          <ng-template #previewBtn>
            <button
              size="m"
              tuiButton
              type="button"
              (click)="isPreview = !isPreview"
              appearance="secondary"
            >
              Preview
            </button>
          </ng-template>
          <button
            size="m"
            tuiButton
            type="button"
            (click)="saveQuestionContent()"
            [disabled]="isSave"
          >
            Save
          </button>
        </div>
      </div>
      <div id="quest-editor">
        <app-question-editor
          [question]="this.selectedQuestion"
          [isPreview]="isPreview"
          [isSave]="isSave"
          (save)="updateQuestionContent($event)"
        ></app-question-editor>
      </div>
    </ng-template>
  </div>
</div>
