<div class="container">
  <div class="image-avatar"></div>
  <div class="image-logo">
    <img id="logo" src="../../../assets/images/logolanding.png" />
  </div>
  <div class="box_green">

    <div class="title-text">
      <p class="sologan">LEARNING IS THE EYE OF THE MIND</p>
      <p class="description">
        Gnosis is an online learning platform that gives anyone, anywhere access
        to online courses
      </p>
      <div class="btn">
        <button routerLink="/login" tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3"
          appearance="flat" style="width: 11rem; font-size: 20px">
          LET'S GO
        </button>
      </div>
    </div>

    <div class="footer_green">
      <tui-svg class="location" src="tuiIconMapPinLarge"></tui-svg>
      <p class="address">4 Bùi Viện, Phường 1, Quận 1, Tp. Hồ Chí Minh</p>
    </div>

  </div>

  <div class="box_white">
    <div class="container_subject">
      <div class="slider">
        <div class="title_subject" style="display: flex; justify-content: center">
          <p class="subject" style="font-weight: 500; font-size: 15px">
            ILLUSTRATION COURSE
          </p>
        </div>
        <div class="images">
          <input type="radio" name="slide" id="img1" checked />
          <input type="radio" name="slide" id="img2" />
          <input type="radio" name="slide" id="img3" />
          <input type="radio" name="slide" id="img4" />

          <img class="m1" src="../../../assets/images/web developer.jpg" alt="img1" />
          <img class="m2" src="../../../assets/images/english.jpg" alt="img2" />
          <img class="m3" src="../../../assets/images/math.webp" alt="img3" />
          <img class="m4" src="../../../assets/images/science.jpg" alt="img4" />
        </div>
        <div class="dots">
          <label for="img1"></label>
          <label for="img2"></label>
          <label for="img3"></label>
          <label for="img4"></label>
        </div>
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
        </div>
      </div>
    </div>

    <div class="footer_white">
      <b style="margin-right: 0.5rem">Hotline: 0854021102</b>
      <div class="container-social" style="display: flex; flex-direction: row">
        <b style="margin-left: 1rem">Social</b>
        <div id="icon_social">
          <tui-svg class="social" src="tuiIconFacebookLarge"></tui-svg>
          <tui-svg class="social" src="tuiIconYoutubeLarge"></tui-svg>
          <tui-svg class="social" src="tuiIconInstagramLarge"></tui-svg>
          <!-- <tui-svg class="social" src="tuiIconTwitterLarge"></tui-svg> -->
        </div>
      </div>
    </div>
  </div>
</div>